table{
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 0px;
    width: 80%;

}
td{
    padding: 0.5em;
    min-width: 3em;
}
th{
    background-color: #34A0A4;
    padding: 0.6em;
}
td:hover{
    border: 1px white solid;
}

tr:nth-child(even) td:nth-child(odd){
    background-color: #1A759F;
}

tr:nth-child(even) td:nth-child(even){
    background-color: #168AAD;
}

tr:nth-child(odd) td:nth-child(even){
    background-color: #1A759F;
}

tr:nth-child(odd) td:nth-child(odd){
    background-color: #168AAD;
}

.radio{
    margin-top: 1.2em;
}

p{
    font-weight: bold;
}